<div class="row">
    <div class="col-md-8" style="text-align:center;">
    <div class="row jugs">
        <img src="../dist/img/waterBarrels.png" height="120px" style="padding:7px;">
        <img src="../dist/img/waterBarrels.png" height="120px" style="padding:7px;">
        </div>
    <div class="row bottles">
        <img src="../dist/img/water.png" height="80px" style="padding:5px;">
        <img src="../dist/img/water.png" height="80px" style="padding:5px;">
        <img src="../dist/img/water.png" height="80px" style="padding:5px;">
        <img src="../dist/img/water.png" height="80px" style="padding:5px;">
        <img src="../dist/img/water.png" height="80px" style="padding:5px;">
        <img src="../dist/img/water.png" height="80px" style="padding:5px;">
        <img src="../dist/img/water.png" height="80px" style="padding:5px;">
        <img src="../dist/img/water.png" height="80px" style="padding:5px;">
        <img src="../dist/img/water.png" height="80px" style="padding:5px;">
        <img src="../dist/img/water.png" height="80px" style="padding:5px;">
        <img src="../dist/img/water.png" height="80px" style="padding:5px;">
        </div>
     <!--Animation -->
        
    </div><!-- /.col -->
    <div class="col-md-4">
      <p class="text-center">
        <strong>Stats</strong>
      </p>
      <div class="progress-group">
        <span class="progress-text">Milliters Used</span>
        <span class="progress-number"><b>160</b>/200</span>
        <div class="progress sm">
          <div class="progress-bar progress-bar-aqua" style="width: 60%"></div>
        </div>
      </div><!-- /.progress-group -->
      <div class="progress-group">
        <span class="progress-text">Projected Use</span>
        <span class="progress-number"><b>310</b>/400</span>
        <div class="progress sm">
          <div class="progress-bar progress-bar-red" style="width: 80%"></div>
        </div>
      </div><!-- /.progress-group -->
      <div class="progress-group">
        <span class="progress-text">Neighboorhood Rank</span>
        <span class="progress-number"><b>480</b>/800</span>
        <div class="progress sm">
          <div class="progress-bar progress-bar-green" style="width: 30%"></div>
        </div>
      </div><!-- /.progress-group -->
      <div class="progress-group">
        <span class="progress-text">Green Score</span>
        <span class="progress-number"><b>250</b>/500</span>
        <div class="progress sm">
          <div class="progress-bar progress-bar-yellow" style="width: 70%"></div>
        </div>
      </div><!-- /.progress-group -->
    </div><!-- /.col -->
</div><!-- /.row -->