<section class="content-header">
  <h1> Statistics <small>Make sense of all your data</small> </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Charts</a></li>
    <li class="active">ChartJS</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-8"> 
      <!-- AREA CHART -->
      <div class="box">
        <div class="box-body">
          <div class="nav-tabs-custom">
                <!-- Tabs within a box -->
                <ul class="nav nav-tabs pull-right">
                    <li><a href="#cost-a" data-toggle="tab">Cost Analysis</a></li>
                    <li class="active"><a href="#env-impact" data-toggle="tab">Environmental Impact</a></li>                  
                  <li class="pull-left header"><i class="fa fa-inbox"></i>Consumption Stats</li>
                </ul>
                <div class="tab-content no-padding">
                  <!-- Morris chart - Sales -->
                  <div class="chart tab-pane active" id="env-impact" style="position: relative;">
                    <div class="box-body">
                  <table class="table table-condensed">
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>Task</th>
                      <th>Progress</th>
                      <th>Label</th>
                    </tr>
                  </table>
                </div><!-- /.box-body -->
                    </div>
                  <div class="chart tab-pane" id="cost-a" style="position: relative;">
                    
                    </div>
                </div>
              </div><!-- /.nav-tabs-custom -->
        </div>
        <!-- /.box-body --> 
      </div>
      <!-- /.box --> 
      
      <!-- DONUT CHART -->
     
      
    </div>
    <!-- /.col (LEFT) -->
    <div class="col-md-4">
      <div class="info-box"> <span class="info-box-icon bg-red"><i class="fa fa-star-o"></i></span>
        <div class="info-box-content"> <span class="info-box-text">Likes</span> <span class="info-box-number">93,139</span> </div>
        <!-- /.info-box-content --> 
      </div>
      <!-- /.info-box --> 
      <!-- LINE CHART -->
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Line Chart</h3>
          <div class="box-tools pull-right"> </div>
        </div>
        <div class="box-body">
          <div class="chart">
            <canvas id="lineChart" height="250"></canvas>
          </div>
        </div>
        <!-- /.box-body --> 
      </div>
      <!-- /.box --> 
      
      <!-- BAR CHART -->
      <div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">Bar Chart</h3>
          <div class="box-tools pull-right"> </div>
        </div>
        <div class="box-body">
          <div class="chart">
            <canvas id="barChart" height="230"></canvas>
          </div>
        </div>
        <!-- /.box-body --> 
      </div>
      <!-- /.box --> 
      
    </div>
    <!-- /.col (RIGHT) --> 
  </div>
  <!-- /.row --> 
  
</section>
<!-- /.content --> 
